* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

.nav-c {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-c>ul {
    display: flex;
    height: 60px;
    align-items: center;
    list-style: none;
}

.nav-c>ul a {
    color: #606060;
}

.nav-f,
.nav-l {
    width: 20%;
    display: flex;
}


.nav-f li,
.nav-l li {
    margin-left: 2rem;
}

.nav-m input[type="text"] {
    width: 500px;
    height: 30px;
}

.nav-m a {
    text-align: center;
    width: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    border-left: none;
    padding: 5px;
    position: relative;
    left: -4px;
}

.section-c {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.sidebar-c{
    overflow-y: scroll;
    height: 700px;
}

.sidebar-c ul {
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: .5rem 0;
}

.sidebar-c ul li {
    padding: 1rem;
    transition: .3s;
}

.sidebar-c ul li:hover {
    background: #ccc;
}

.sidebar-c ul li a {
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}
.subs li {
    display: flex;
    align-items: center;
}

.subs li img {
    margin-right: 1rem;
}
.subs h3{
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    color: #606060;
}
.content-c {
    padding: 1rem;
}

.filters{
    width: 80%;
    margin-bottom: 2rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}
.filters p a{
    font-size: 14px;
    color: #606060;
    margin-left: .5rem;
}
.vid-info{
    display: flex;
    width: 80%;
    margin-bottom: 1rem;
}

.vid-l{
    width: 500px;
}

.vid-l img{
    width: 360px;
    height: 202.5px;
}

.vid-r {
    margin-left: 1rem;
}

.vid-r h3{
    color: #030303;
}

.vid-r p{
    font-size: 14px;
    color: #606060;
}